.header-wraper {
	background-color: #F6F8F9;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	z-index: 2;
}
.section1 {
	margin-top: 70px;
}
.logo {
	display: inline-block;
	vertical-align: middle;
	margin: 18px 92px 17px 20px;
	color: #FA6980;
	font-family: 'Roboto';
	font-size: 13px;
}
.navigation {
	display: inline-block;
	vertical-align: middle;
}
.nav-li {
	display: inline-block;
	vertical-align: middle;
}
.image {
	vertical-align: middle;
}
.left-block {
	width: 360px;
	height: 350px;
	display: inline-block;
	background-color: #FFFFFF;
}
.middle-block {
	width: 360px;
	height: 350px;
	display: inline-block;
	margin-right: 20px;
	margin-left: 20px;
	background-color: #FFFFFF;
}
.right-block {
	width: 360px;
	height: 350px;
	display: inline-block;
	background-color: #FFFFFF;
}
.active {
	font-family: 'Roboto';
	font-size: 11px;
	color: #343638;
	font-weight: 33px;
	margin-right: 27px;
}
.list-item {
	font-family: 'Roboto';
	font-size: 11px;
	color: #D7D8DA;
	margin-right: 22px;
}
.section {
	width: 1160px;
	margin: 0 auto;
}
.block1 {
	width: 760px;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 234px;
}
.block2 {
	width: 360px;
	display: inline-block;
	vertical-align: top;
}
.block-image {
	padding: 0 0 40px 0;
}
.title1 {
	padding-top: 10px;
	margin-bottom: 30px;
	font-family: 'Roboto';
	font-size: 24px;
}
.title2 {
	margin-top: 58px;
	margin-bottom: 30px;
	font-family: 'Roboto';
	font-size: 24px;
}
.text {
	margin: 66px 40px 10px 40px;
	font-family: 'Source Sans Pro';
}
.icon-text {
	font-family: 'Source Sans Pro';
}
.time-icon{
	margin-left: 40px;
}
.image-wraper {
	position: relative;
}
.img-text {
	position: absolute;
	color: #FFFFFF;
	font-family: 'Roboto';
	font-size: 16px;
	left: 40px;
	top: 28px;
}
.img-text1 {
	position: absolute;
	color: #FFFFFF;
	font-family: 'Roboto';
	font-size: 16px;
	left: 308px;
	top: 194px;
}
.body {
	background-color: #F6F8F9;
}